.logologo{
    height: 100px;
}

.encabezado{
    border-top: 20px solid red;
    background-color: #fafafa;
}

.fuentesnav{
    font-size: 15px;
    text-transform: uppercase;
}

.fuentesnav a:hover {
    background-color: brown;
    color: aliceblue;
}